HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://homapilot:hp%21aviation%23d2@136.243.196.163:5432/homapilot_strapi
DATABASE_HOST=136.243.196.163
DATABASE_PORT=5432
DATABASE_NAME=homapilot_strapi
DATABASE_USERNAME=homapilot
DATABASE_PASSWORD=hp%21aviation%23d2